<%-include('templates/header')%>

  <div class="d-flex justify-content-center">
    <div class="container mt-3 form-signin text-center">
          <table id="table">
            <thead>
            <tr>
                <th>User</th>
                <th>Nombre</th>
                <th>Cocina</th>
                <th>Use</th>
              </tr>
            </thead>
            <tbody>
              <% console.log(obj)
                obj.user.forEach((usr) => {
              %>
                <tr>
                  <td><%= usr.user %></td>
                  <td><%= usr.name %></td>
                  <td><%= obj.kitchen.name %></td>
                  <td><a href="/userSelect/<%= usr.user %>">Usar</a></td>
                </tr>
              <% 
                })
              %>
            </tbody>
          </table>
    </div>
  </div>
    
  <%- include('templates/footer')%>

